* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

body, html {
    background: #000;
    height: 100%;
    font-family: Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5vw; 
    overflow: auto;
}

body {
    min-width: 100%;
    background-image: url("../images/4pi_illumination_compressed.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto; 
    -webkit-background-size: 100% auto; 
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    overflow-x: hidden;
    color: #fff;
}

header {
    width: 100vw;
    height: 3.1vw;
    background-color:rgba(1, 30, 60, 0.75);
    margin: 0 auto;
}

h1 { 
    color: #fff; 
    font-size: 2.1vw;
    font-weight: bold; 
    text-align: left; 
    float: left; 
    margin: 0 0 0 2vw;
    padding: 0.3vw 0 0 0;
}

nav { font-size: 0.5vw; }
nav ul { 
    list-style-type: none;
    overflow: auto; 
    margin: 0 2vw 0 0; 
    line-height: 2.1vw;
    float: left;
}

nav ul li {float: left; white-space: nowrap; padding: 0.75vw 0 0 2vw; font-size: 1vw;}

.icons {float:right; }
nav .icons li { float: right; white-space: nowrap; padding: 0 0 0 0.5vw; font-size: 0.5vw;}
nav .icons li i {padding: 1vw 0 0 0;}

main {
    background-color:rgba(1, 30, 60, 0.75);
    padding: 2vw;
    text-align: left;
    margin: 2vw auto;
    width: 75vw;
    overflow-y: hidden;
}

h2 { 
    color: #fff; 
    font-size: 1.7vw; 
    font-weight: bold; 
    text-align: left; 
    margin:0 0 0 1vw;
}

p { 
    color: #fff;
    line-height: 2.5vw; 
    margin: 0 1vw 1vw 1vw; 
    text-align: justify;
}

.right {float: right; margin: 1vw 1vw 0 2vw; width: 20vw;}

.left {width: 47vw;}

ul { line-height: 2.5vw; margin: 0 0 0 3vw; }
a { color: #fff; }

.fourohfour {
    font-size: 12vw; 
    text-align: center; 
    padding: 1vw 0 0 0; 
    line-height: 12vw;
}

.publication { font-size: 1vw; line-height: 1.5vw;}

section {
    margin: 0 0 2vw 0;
}

section h2 { margin: 1vw 0 1vw 1vw;}

@media (orientation: portrait) {
    body {
        min-height: 100%;
        min-width: auto;
        background-size: auto 100%; 
        -webkit-background-size: auto 100%; 
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
    }
    @supports (-webkit-touch-callout: none) {
        body { background-attachment: scroll; }
      }
    h1 { font-size: 3.5vw; }
    h2 { font-size: 2.2vw; line-height: 2.5vw; }
    p { font-size: 2.2vw; line-height: 3.5vw; }
    /* nav { font-size: 2.5vw; line-height: 2.7vw;} */
    nav ul li {font-size: 2vw; padding: 1.7vw 0 0 2vw;}
    nav .icons li i {font-size: 2vw; padding: 1.7vw 0 0 0;}
    main { width: 90vw; margin: 5vw 5vw; text-align: justify; }
    header {height: 5vw;}
    .right {float: right; margin: 1vw 1vw 0 2vw; width: 24vw;}
    .left {width: 56vw;}

}

/* https://perishablepress.com/css-image-caching/ */
@media screen {
	div#preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
	div#preloader img {
		display: block;
		}
	}
@media print {
	div#preloader, 
	div#preloader img {
		visibility: hidden;
		display: none;
		}
	}