* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

body, html {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: auto;
}

html {background: #fff;}

body {
    min-height: 100%;
    background-image: url("../images/pinnacles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
}

h1 { font-size: 2.5em; font-weight: bold; }

h2 { font-size: 1.2em; font-weight: bold; line-height: 1.5em; }

p { 
    color: #fff;
    font-size: 1.2em; 
    line-height: 1.5em; 
    margin: 0 0 1em 0; 
    mix-blend-mode: difference;
}

a { color: #fff; }

nav a { 
    color: #fff; 
    background: #000;
    padding: 0.2em 0.2em;
}

nav {
    font-size: 1.5em;
    line-height: 1.7em;
}

.ico {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.main {
    text-align: left;
    margin: 2em 3em;
    width: 50%;
    overflow-y: hidden;
}

@media (orientation: portrait) {
    body { 
        background-size: auto 100%; 
        -webkit-background-size: auto 100%; 
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
    }
    h1 { font-size: 3.5em; }
    h2 { font-size: 2.2em; line-height: 2.5em; }
    p { font-size: 2.2em; line-height: 2.5em; }
    nav { font-size: 2.5em; line-height: 2.7em;}
    .ico {width: 1.2em; height: 1.2em; }
    .main { width: 100%; padding: 0 3em 2em 0; }
}
