* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

body, html {
    background: #fff;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: auto;
}

body {
    min-width: 100%;
    background-image: url("../images/laser_launch.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto; 
    -webkit-background-size: 100% auto; 
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    overflow-x: hidden;
}

h1 { color: #fff; font-size: 2.5em; font-weight: bold; }

h2 { color: #fff; font-size: 1.2em; font-weight: bold; line-height: 1.5em; }

p { 
    color: #fff;
    font-size: 1.2em; 
    line-height: 1.7em; 
    margin: 0 0 1em 0; 
}

a { color: #fff; }

nav a { 
    padding: 0.2em 0.2em;
}

nav {
    font-size: 0.75em;
}

.main {
    background-color:rgba(1, 30, 60, 0.75);
    padding: 1em;
    text-align: left;
    margin: 2em 3em;
    width: 50%;
    overflow-y: hidden;
}

@media (orientation: portrait) {
    body {
        min-height: 100%;
        min-width: auto;
        background-size: auto 100%; 
        -webkit-background-size: auto 100%; 
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
    }
    @supports (-webkit-touch-callout: none) {
        body { background-attachment: scroll; }
      }
    h1 { font-size: 3.5em; }
    h2 { font-size: 2.2em; line-height: 2.5em; }
    p { font-size: 2.2em; line-height: 2.5em; }
    nav { font-size: 2.5em; line-height: 2.7em;}
    .main { width: 90%; margin: 5% 5%; text-align: justify; }
}
